.letter {
  display: inline-block;

  height: 29px;
}
.letter.active {
  background-color: gray;
}
.letter.danger {
  background-color: red;
}
.letter.active.danger {
  background-color: #800000;
}
.letter:first-child {
  border-left: 3px solid red;
}
