body {
  background-color: black;

  font-family: monospace;
  font-size: 25px;
}
header {
  height: 150px;
  width: 1250px;
}
.console {
  display: inline-block;
  position: relative;

  background-color: white;

  width: 604px;

  margin: 0 330px;
  padding-top: 100px;
  padding-bottom: 130px;
}
.main-line {
  height: 27px;

  border: 1px solid black;

  text-align: right;
}
