body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 600px;

  background-color: black;

  font-family: monospace;
  font-size: 25px;
  color: #39FF14;
}
.console {
  display: inline-block;
  position: relative;

  background-color: black;

  border: 1px solid #39FF14;

  width: 604px;
  padding-top: 40px;
  padding-bottom: 130px;
}
.main-line {
  height: 27px;

  text-align: right;
}
