body {
  background-color: black;

  font-family: monospace;
  font-size: 25px;
}
header {
  height: 150px;
  width: 1250px;
}
.console {
  display: inline-block;
  position: relative;

  background-color: white;

  width: 604px;

  margin: 0 330px;
  padding-top: 100px;
  padding-bottom: 130px;
}
.line1,
.line2,
.line3,
.line4,
.line5 {
  height: 27px;

  border: 1px solid black;

  text-align: right;
}
.cmd-line {
  position: absolute;
  bottom: 0;

  height: 30px;
  width: 100%;

  border: 1px solid black;
}
.letter {
  display: inline-block;

  height: 29px;
}
.letter.active {
  background-color: gray;
}
.letter:first-child {
  border-left: 1px solid red;
}
