.util-lines {
  position: absolute;
  bottom: 0;

  width: 100%;
}
.cmd-field{
  height: 35px;
  width: 99%;

  font-family: monospace;
  font-size: 25px;

  background-color: black;
  color: #39FF14;

  border: none;
}
.stat-line {
  height: 32px;

  background-color: gray;

  color: black;
}
.points {
  float: right;
}
.score:after {
  content: ',';
}
